*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif ;
}
body{
    background-color: rgb(13, 13, 61);

}
.container{
    margin: 15px auto;
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-left:15px ;
    padding-right: 15px;
}
.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
 form input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}
form button{
    margin-top: 15px;
    height: 40px;
    width: 100%;
    background-color: rgb(215, 159, 16);
    border-color: white;
    border-radius: 10px;
    color: white;
}